* {
    z-index: 1;
    font-family: sans-serif;
 
}

h0 {
    font-size: 100px;
    color: wheat;
    border: 5px solid navajowhite;
    border-radius: 0px 50px;
}

h2 {
    color: wheat;
}

body {
    font-family: Courier, "Lucida Console", monospace;
    background-image: url(imagenes/fondo.jpg);
    margin: 10px;


}

#contenido {
    
}

#mapid {
    
    display: inline-block;
    right: 0;
    bottom: 0;
    left: 0;
    width: 800px;
    height: 450px;


}

center {
    text-align: center;
}

#fontPatente {

    color: wheat;
    font-size: 40px;
    text-align: center;
}

input {
    font-size: 30px;
    text-align: center;
}

#txtAcarreo{
 font-size: 30px;
    text-align: center;
    color: wheat;
}   
h1{
    font-size: 50px;
    color: white;
    text-align: center;
    text-align-last: inherit;
}
ul li{
    display: inline;
    padding: 10px;
    border: 5px solid white;
    border-radius: 0px 20px;
}

