body {
    font-family: Courier, "Lucida Console", monospace
}

#mapidGrua {
    background: #CCC;
    /* display: inline-block;*/
    /*width: 500px;*/
    /*height: 500px;*/
    position: absolute;
    border: 1px solid #AAA;
    
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin: 7px;

}
